fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
matplotlib
seaborn
plotly
numpy
scikit-learn
joblib
xgboost
aiosqlite